@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  /* Custom Breakpoints */
  --breakpoint-xs: 300px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lm: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1436px;

  /* Custom Colors */
  --color-white: #fff;
  --color-black: #000;

  --color-DARK-100: #111827;
  --color-DARK-200: #4B5563;
  --color-DARK-300: #101828;

  --color-GREEN-100: #42D979;
  --color-GREEN-200: #6C8173;

  --color-GREY-100: #6B7280;
  --color-GREY-200: #667085;
  --color-GREY-300: #344054;

  --color-RED-100: #AF202D;

  --color-BLUE-100: #BDDAFF;
  

  /* Custom Font Family */
  --font-jost: "Jost";
  --font-lato: "Lato";
}