@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  /* Custom Breakpoints */
  --breakpoint-xs: 300px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lm: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1436px;

  /* Custom Colors */
  --color-white: #fff;
  --color-black: #000;

  --color-NEUTRAL-200: #F1F3F9;
  --color-NEUTRAL-500: #5C6F7F;

  --color-DARK-100: #111827;
  --color-DARK-200: #4B5563;
  --color-DARK-300: #101828;
  --color-DARK-400: #292929;
  --color-DARK-500: #1D2433;
  --color-DARK-600: #071827;

  --color-GREEN-50: #ECFDF3;
  --color-GREEN-100: #42D979;
  --color-GREEN-200: #6C8173;
  --color-GREEN-700: #027A48;

  --color-GREY-50: #F9FAFB;
  --color-GREY-100: #6B7280;
  --color-GREY-200: #667085;
  --color-GREY-300: #344054;
  --color-GREY-400: #292929;
  --color-GREY-500: #667185;
  --color-GREY-600: #EAF3FC;
  --color-GREY-700: #909090;
  --color-GREY-800: #D0D5DD;
  --color-GREY-900: #EAECF0;
  --color-GREY-1000: #98A2B3;
  --color-GREY-1050: #F2F4F7;
  --color-GREY-1100: #344054;

  --color-YELLOW-50: #FFFAEB;
  --color-YELLOW-700: #B54708;

  --color-ORANGE-100: #F48A1F;

  --color-RED-50: #FEF3F2;
  --color-RED-100: #AF202D;
  --color-RED-700: #B42318;

  --color-BLUE-100: #BDDAFF;
  --color-BLUE-200: #A3AED0;
  --color-BLUE-300: #2B3674;
  --color-BLUE-400: #003054;
  

  /* Custom Font Family */
  --font-jost: "Jost";
  --font-lato: "Lato";
}